.Container {
  padding: 2rem;
  padding-bottom: 0;
  height: 100%;
  background-color: #fefefe;
}

.Hello {
  margin-top: 0.5rem;
  margin-bottom: 0.125rem;
  color: #4a4a4a;

  .Name {
    font-weight: bold;
    color: #5695c9;
  }
}

.Role {
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.IconGroup {
  display: inline-block;
  margin-right: 0.875rem;
}

@media (min-width: 23rem) and (max-width: 28.9375rem) {
  .Container {
    text-align: center;
  }
}

@media (min-width: 29rem) and (max-width: 63.9375rem) {
  .Container {
    margin-left: auto;
    margin-right: auto;
  }

  .Intro {
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5rem;
    width: 18rem;
  }

  .Hello {
    margin-top: 0;
  }
}

@media (min-width: 29rem) and (max-width: 41.9375rem) {
  .Container {
    width: 29rem;
  }

  .SocialProfile {
    width: 19rem;
    margin-left: -7rem;
  }
}

@media (min-width: 42rem) and (max-width: 63.9375rem) {
  .Container {
    width: 41rem;
  }

  .Intro {
    width: 29.5rem;
  }

  .Role {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 64rem) {
  .Container {
    padding-bottom: 0;
    text-align: right;
  }
}
