ul.Navigation {
  font-size: 1.25rem;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  height: 2.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  background-color: rgba(#fff, 0.9);
  @media (min-width: 64rem) {
    text-align: auto;
    height: auto;
    line-height: 2.5;
    margin-right: 2rem;
  }

  > li {
    display: inline-block;
    width: 6rem;
    text-align: center;
    margin-bottom: 2px;
    @media (min-width: 23rem) and (max-width: 28.9375rem) { width: 7rem; }
    @media (min-width: 29rem) and (max-width: 41.9375rem) { width: 8rem; }
    @media (min-width: 42rem) and (max-width: 63.9375rem) { width: 10rem; }
    @media (min-width: 64rem) {
      display: block;
      width: auto;
      text-align: right;
    }
  }
}

ul.Navigation.Affix {
  position: fixed;
  top: 0;
}
