.layout {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.leftCol {
  background-color: #fff;
}

.rightCol {
  background-color: #fafafa;
}

@media (min-width: 64rem) {
  .layout {
    display: table;
    table-layout: fixed;
  }

  .column {
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }

  .leftCol {
    composes: column;
    width: 17rem;
  }

  .rightCol {
    composes: column;
  }

  .scrollable {
    height: 100%;
    overflow-y: auto;
  }
}

@media (min-width: 100rem) {
  .layout {
    width: 100rem;
  }
}
