.ExperienceChart {
  width: 320px;
  margin: 0 auto;
  @media (min-width: 544px) { width: 420px; }
  @media (min-width: 768px) { width: 540px; }
  @media (min-width: 992px) { width: 525px; }
  @media (min-width: 1200px) { width: 560px; }
}
