@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Cover {
  position: relative;
  overflow: hidden;
  background: #6191ca;
  /* background-image: url('../../images/bg-cover-cloud.svg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  text-align: center;
}

.Scene {
  overflow: hidden;
  transition: transform 0.1s;
  padding-top: 7.5rem;
  color: #fff;
  height: 22rem;
  @media (min-width: 23rem) and (max-width: 25.9375rem) {
    height: 24rem;
  }
  @media (min-width: 26rem) and (max-width: 29.9375rem) {
    height: 26rem;
  }
  @media (min-width: 30rem) and (max-width: 33.9375rem) {
    height: 28.5rem;
  }
  @include media-breakpoint-between(sm, md) {
    padding-top: 5.5rem;
    height: 25.5rem;
  }
  @include media-breakpoint-between(md, lg) {
    padding-top: 5rem;
    height: 30rem;
  }
  @include media-breakpoint-between(lg, xl) {
    padding-top: 5.5rem;
    height: 35rem;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 4rem;
    height: 40rem;
  }
  svg {
    animation: fadeIn 0.5s;
    height: 14.5rem;
    @media (min-width: 23rem) and (max-width: 25.9375rem) {
      height: 16.5rem;
    }
    @media (min-width: 26rem) and (max-width: 29.9375rem) {
      height: 18.5rem;
    }
    @media (min-width: 30rem) and (max-width: 33.9375rem) {
      height: 20rem;
    }
    @include media-breakpoint-between(sm, md) {
      height: 22rem;
    }
    @include media-breakpoint-between(md, lg) {
      height: 28rem;
    }
    @include media-breakpoint-between(lg, xl) {
      height: 27.5rem;
    }
    @include media-breakpoint-up(xl) {
      height: 33.5rem;
    }
  }
}

.NoScriptPlaceholder {
  padding-top: 1rem;
  @media (min-width: 23rem) and (max-width: 25.9375rem) {
    padding-top: 2rem;
  }
  @media (min-width: 26rem) and (max-width: 29.9375rem) {
    padding-top: 3rem;
  }
  @media (min-width: 30rem) and (max-width: 33.9375rem) {
    padding-top: 5rem;
  }
  @include media-breakpoint-between(sm, md) {
    padding-top: 5rem;
  }
  @include media-breakpoint-between(md, lg) {
    padding-top: 7rem;
  }
  @include media-breakpoint-between(lg, xl) {
    padding-top: 9rem;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 12rem;
  }
  > p { color: #d3e1ec; }
  > div { margin-top: 1rem; }
}

.Slogan {
  font-size: 26px;
  @media (min-width: 26rem) and (max-width: 34rem) {
    font-size: 22px;
  }
  @include media-breakpoint-between(sm, md) { font-size: 24px; }
  @include media-breakpoint-between(md, lg) { font-size: 22px; }
  @include media-breakpoint-between(lg, xl) { font-size: 24px; }
  @include media-breakpoint-up(xl) { font-size: 22px; }
}
